body {
	background-color: rgb(190, 97, 190);
	color: rgb(250, 250, 0);
	margin: 2cm
}

h1 {
	font-family: "Syne", serif;
  	font-size: 30mm;
	font-weight: bold;
	letter-spacing: 5mm;
	line-height: normal;
}

p {
	font-family: "Syne", serif;
    font-size: 10mm;
	font-weight: regular;
    text-align: right;
    text-indent: 1mm;
	line-height: normal;
}



 /* Use these classes to style the .card component */

    .card {}
    .card__title {}
    .card__excerpt {}
    .card__image {}
    .card__more {}
    .card__more:hover {}
    .card__more:active {}

    @media screen and (min-width: 1024px) {
      .card {}
      .card__title {}
      .card__excerpt {}
      .card__image {}
      .card__more {}
      .card__more:hover {}
      .card__more:active {}
    }

    /* You can leave everything below as is — we'll explain flexbox in a later lecture! */

    .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8vw;
    }