body {
	background-color: rgb(255, 223, 255);
	color: rgb(0, 0, 0);
	margin: 2cm
}

h1 {
	font-family: "Syne", serif;
  	font-size: 35mm;
	font-weight: bold;
	letter-spacing: 1.5mm;
	line-height: normal;
}

p {
	font-family: "Syne", serif;
    font-size: 5mm;
	font-weight: regular;
    text-align: left;
    text-indent: 1mm;
	line-height: normal;
}



 /* Use these classes to style the .card component */

 .card__title {

 }
 

    .card {
		line-height: normal;
		padding: 2rem;
		background-color:rgb(192, 124, 255);
		border-radius: 2rem;
	}

    
    .card__excerpt {}

    .card__image {
		size: 30%;
	}

    .card__more {
		display: block;
		text-align: center;
		padding: 1rem;
		background-color: rgb(78, 23, 130);
		transition: border-radius 0.2s linear;
	}


    .card__more:hover {
		border-radius: 3rem;
	}

    .card__more:active {
		background-color:rgb(143, 158, 255);
	}

    @media screen and (min-width: 1024px) {
      .card {
		background-color: white;
	  }

      .card__title {
		font-size: 3.75rem;
	  }

      .card__excerpt {
		font-size: 1.5rem;
	  }

      .card__image {}
      .card__more {}
      .card__more:hover {}
      .card__more:active {}
    }

    /* You can leave everything below as is — we'll explain flexbox in a later lecture! */

    .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8vw;
    }