body {
	background-color: rgb(206, 81, 73);
	color: rgb(0, 0, 0);
	margin: 2cm
}

h1 {
	font-family: "Londrina Solid", serif;
  	font-size: 35mm;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.5mm;
	line-height: normal;
}

p {
	font-family: "Londrina Solid", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 5mm;
	line-height: normal;
}



 .card__title {

 }
 

    .card {
		line-height: normal;
		padding: 2rem;
		background-color:rgb(231, 180, 54);
		border-radius: 2rem;
	}

    
    .card__excerpt {}

    .card__image {
		width: 30%;
		height: auto;
		display: block;
	}	

    .card__more {
		display: block;
		text-align: center;
		padding: 1rem;
		background-color: rgb(201, 144, 16);
		transition: border-radius 0.2s linear;
	}


    .card__more:hover {
		border-radius: 3rem;
	}

    .card__more:active {
		background-color:rgb(249, 202, 76);
	}

    @media screen and (min-width: 1024px) {
      .card {
		background-color: rgb(231, 180, 54);
	  }

      .card__title {
		font-size: 3.75rem;
	  }

      .card__excerpt {
		font-size: 1.5rem;
	  }

      .card__image {}
      .card__more {}
      .card__more:hover {}
      .card__more:active {}
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8vw;
    }